extends layout

block content

  h1= title
  p Welcome to #{title}

  div.content(style={display: 'none'})
    form(action="/contact", name="contactus", id="contactus", method="post")
      fieldset
        p
          label(for="username") Name:
          br
          input(name="username", type="text", id="username", required)
        p
          label(for="email") Email:
          br
          input(name="email", type="email",id="email", required)
        p
          label(for="message") Message:
          br
          textarea(name="message", cols="40", rows="10", id="message", required)
        p
          div.g-recaptcha(data-sitekey="6LfoDx8TAAAAAA7NljOjYNY5ezHnYIdff63SgM3o")
        p
          input(name="submit", type="submit", value="Send", id="submit")
  p #{CAPTCHA}
  p #{message_status}

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')